<div class="d-flex justify-content-between align-items-center ">
  <h1>App opens</h1>
  <%= link_to "New app open", new_app_open_path,class:"btn btn-outline-primary" %>
</div>

<div id="app_opens">
  <table class="table table-hover"  >
  <thead style="background: #7952b3;color:white">
    <tr>
      <th>S.No</th>
      <th>User id </th>
      <th>VersionName</th>
      <th>VersionCode</th>
      <th>Location</th>
      <th>SourceIp</th>
      <th>show </th>
    </tr>
  </thead>
  <tbody>
  <% @app_opens.each_with_index do |app_open,index| %>
    <tr>
      <td><%= index+1 %></td>
      <%= render app_open %>
      <td><%= link_to "Show this app open", app_open %></td>
    </tr>
  <% end %>
</div>

