<h1>Editing points history</h1>

<%= render "form", points_history: @points_history %>

<br>

<div>
  <%= link_to "Show this points history", @points_history %> |
  <%= link_to "Back to points histories", points_histories_path %>
</div>
