<td><%= withdrawl_history.w_coins %></td>
<td><%= withdrawl_history.Trans_type_logo.truncate(20) %></td>
<td><%= withdrawl_history.Transaction_ID %></td>
<td><%= withdrawl_history.transaction_type %></td>